.info {
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: auto;
  background: url('../../assets/background-blur.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 25px;
}

.info-home {
  padding: 30px;
  width: 95%;
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  margin: 0px auto 10px;
}

.info-about {
  padding: 60px 30px;
  width: 95%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  margin: 0px auto 10px;
}

.info-skills {
  padding: 60px 30px;
  width: 95%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  margin: 0px auto 10px;
}

.info-contact {
  padding: 60px 30px;
  width: 95%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  margin: 0px auto 10px;
}

@media(max-width: 719px) {
  .info {
    padding: 25px 0 0 0;
    width: 100%;
    height: auto;
    position: relative;
  }

  .info-home {
    height: auto;
  }

  .info-about {
    height: auto;
  }
}
