.info {
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: auto;
  background: url('../../assets/background-blur.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 25px;
}

.info-content {
  height: 600px;
  width: 90%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 2);
  background-color: rgb(223, 223, 223);
  border-radius: 5px;
  margin-bottom: 15px;
}

.info-home {
  padding: 30px;
  width: 95%;
  height: 90vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  margin-bottom: 10px;
}

.transform-left {
  transform: translate3d(-250px, 0px, 0px);
  opacity: 0;
}

.transform-right {
  transform: translate3d(250px, 0px, 0px);
  opacity: 0;
}

@media(max-width: 719px) {
  .info {
    width: 100%;
    height: auto;
  }
}
