.info {
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 100vh;
  background: url('../../assets/background-blur.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 25px;
}

.info-content {
  height: auto;
  width: 90%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 2);
  background-color: rgb(223, 223, 223);
  border-radius: 5px;
  margin-bottom: 15px;
}

@media(max-width: 719px) {
  .info {
    width: 100%;
    height: auto;
  }
}
