.about-content {
  text-align: center;
  transition: all 0.3s;
  opacity: 1;
}

.about-introduction {
  line-height: 25px;
  font-size: 20px;
  text-align: center;
  word-wrap: break-word;
  color: rgb(207, 207, 207);
  opacity: 1;
  transition: all 0.3s;
}

.about-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.about-cards {
  margin-top: 25px;
  font-size: 20px;
  opacity: 1;
  transition: all 0.3s;
}

.about-cards h3 {
  margin-top: 25px;
  font-size: 20px;
  color: #fff;
}

.about-cards h3 span {
  color: #79eed3;
}

.about-cards p {
  color: #fff;
}
