.main-container {
  display: flex;
  flex-direction: row;
}

.react-site {
  color: #fff;
  text-decoration: none;
  opacity: 0.8;
  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 999;
}

@media(max-width: 719px) {
  .main-container {
    flex-direction: column;
    height: 100vh;
  }
}
