.main-container {
  display: flex;
  flex-direction: row;
}
/*
.react-site {
  display: fixed;
  position: absolute;
  z-index: 1000;
  right: 20px;
  bottom: 20px;
  color: #c1c1c1;
  font-style: italic;
} */

@media(max-width: 719px) {
  .main-container {
    flex-direction: column;
    height: 100vh;
  }
}
